<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuaidan.mapper.CitysMapper" >
  <resultMap id="BaseResultMap" type="com.kuaidan.entity.Citys" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, province_id, code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cb_kuaidan_citys
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cb_kuaidan_citys
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kuaidan.entity.Citys" >
    insert into cb_kuaidan_citys (id, name, province_id, 
      code)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}, 
      #{code,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kuaidan.entity.Citys" >
    insert into cb_kuaidan_citys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuaidan.entity.Citys" >
    update cb_kuaidan_citys
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuaidan.entity.Citys" >
    update cb_kuaidan_citys
    set name = #{name,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      code = #{code,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>