<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuaidan.mapper.ServiceOrderMapper" >
  <resultMap id="BaseResultMap" type="com.kuaidan.entity.ServiceOrder" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="service_order_number" property="serviceOrderNumber" jdbcType="VARCHAR" />
    <result column="address_id" property="addressId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, del_flag, status, price, member_id, service_order_number, address_id
  </sql>
  <select id="selectTotalPrice" resultType="java.math.BigDecimal" parameterType="java.lang.String">
    select IFNULL(sum(price),0) as totalPrice FROM cb_kuaidan_service_order WHERE member_id = #{memberId,jdbcType=VARCHAR}
    and (status = "1" or status = "2")
  </select>
  <!--根据status查询服务订单数量-->
  <select id="selectCountByStatus" resultType="java.lang.Integer" parameterType="java.util.Map">
    SELECT
    COUNT(*)
    FROM cb_kuaidan_service_order
    <where>
      member_id=#{memberId}
      <if test="status!=null and status!=''">AND status=#{status}</if>
      AND del_flag="0"
      AND status<![CDATA[!= ]]>"3"
    </where>
  </select>

  <!--服务订单数量-->
  <select id="selectServiceOrderCountByType" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT
      COUNT(*)
      FROM cb_kuaidan_service_order
      WHERE status=#{status}
      AND del_flag="0"
  </select>

  <!--服务订单详情-->
  <select id="selectDetail" resultType="java.util.Map" parameterType="java.lang.String">
    SELECT
      ckso.service_order_number AS serviceOrderNumber,
      cksoa.member_name AS memberName,
      cksoa.member_telephone AS memberTelephone,
      cksoa.member_address AS memberAddress,
      cksod.service_cycle AS serviceCycle,
      cksod.service_num AS serviceNum,
      ckso.status AS status,
      ckso.price AS receivableMoney,
      IFNULL(a.all_box_count, 0)AS allBoxCount,
      IFNULL(b.has_send_box_, 0)AS hasSendBoxCount,
      cksod.discount_money AS discountMoney,
      (ckso.price+cksod.discount_money) AS orderMoney,
      ((ckso.price+cksod.discount_money)/a.all_box_count) AS boxMoney,
      date_format(ckso.create_time ,'%Y-%m-%d %H:%i:%s' ) AS showTime
      FROM cb_kuaidan_service_order ckso
      LEFT JOIN cb_kuaidan_service_order_address cksoa ON ckso.address_id=cksoa.id AND cksoa.del_flag="0"
      LEFT JOIN cb_kuaidan_service_order_discount cksod ON cksod.service_order_id=ckso.id AND cksod.del_flag="0"
      LEFT JOIN (SELECT service_order_id, COUNT(0) AS all_box_count FROM cb_kuaidan_box_order WHERE del_flag="0"
                GROUP BY service_order_id) AS a ON a.service_order_id=ckso.id
      LEFT JOIN (SELECT service_order_id, COUNT(0) AS has_send_box_ FROM cb_kuaidan_box_order WHERE del_flag="0"
                and status="1" GROUP BY service_order_id) AS b ON b.service_order_id=ckso.id
      WHERE ckso.id=#{id}
      AND ckso.del_flag="0"

  </select>
  <!--多条件查询服务订单列表-->
  <select id="selectOrderSelection" resultType="java.util.Map" parameterType="com.kuaidan.entity.ServiceOrder">
    SELECT
      ckso.id AS id,
      ckso.service_order_number AS serviceOrderNumber,
      cksoa.member_telephone AS memberTelephone,
      ckso.price AS price,
      ckso.status AS status,
      date_format(ckso.create_time ,'%Y-%m-%d %H:%i:%s' ) AS showTime,
      IFNULL(a.all_box_count, 0)AS allBoxCount,
      IFNULL(b.has_send_box_, 0)AS hasSendBoxCount,
      IFNULL(c.no_send_box_count, 0)AS noSendBoxCount
      FROM cb_kuaidan_service_order ckso
      LEFT JOIN cb_kuaidan_service_order_address cksoa ON ckso.address_id=cksoa.id
      LEFT JOIN (SELECT service_order_id, COUNT(0) AS all_box_count FROM cb_kuaidan_box_order WHERE del_flag="0"
                GROUP BY service_order_id) AS a ON a.service_order_id=ckso.id
      LEFT JOIN (SELECT service_order_id, COUNT(0) AS has_send_box_ FROM cb_kuaidan_box_order WHERE del_flag="0"
                and status="1" GROUP BY service_order_id) AS b ON b.service_order_id=ckso.id
      LEFT JOIN (SELECT service_order_id, COUNT(0) AS no_send_box_count FROM cb_kuaidan_box_order WHERE del_flag="0"
                and status="0" GROUP BY service_order_id) AS c ON c.service_order_id=ckso.id
      <where>
        <if test="serviceOrderNumber !=null and serviceOrderNumber !=''">ckso.service_order_number=#{serviceOrderNumber}</if>
        <if test="status !=null and status !=''">AND ckso.status=#{status}</if>
        <if test="memberTelephone !=null and memberTelephone !=''">AND cksoa.member_telephone=#{memberTelephone}</if>
        <if test="startNum!=null and startNum!=''">AND ckso.price &gt;=#{startNum}</if>
        <if test="endNum!=null and endNum!=''">AND ckso.price &lt;=#{endNum}</if>
        <if test="startCTime!=null and startCTime!=''">
          <![CDATA[   and DATE_FORMAT(ckso.create_time, '%Y-%m-%d')>=  DATE_FORMAT(#{startCTime}, '%Y-%m-%d')   ]]>
        </if>
        <if test="endCTime!=null and endCTime!=''">
          <![CDATA[  and DATE_FORMAT(ckso.create_time, '%Y-%m-%d') <= DATE_FORMAT(#{endCTime}, '%Y-%m-%d')    ]]>
        </if>
        AND ckso.del_flag="0"
        AND cksoa.del_flag="0"
        ORDER BY ckso.create_time DESC
      </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cb_kuaidan_service_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cb_kuaidan_service_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kuaidan.entity.ServiceOrder" >
    insert into cb_kuaidan_service_order (id, create_time, del_flag, 
      status, price, member_id, 
      service_order_number, address_id)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{memberId,jdbcType=VARCHAR}, 
      #{serviceOrderNumber,jdbcType=VARCHAR}, #{addressId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kuaidan.entity.ServiceOrder" >
    insert into cb_kuaidan_service_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="serviceOrderNumber != null" >
        service_order_number,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="serviceOrderNumber != null" >
        #{serviceOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuaidan.entity.ServiceOrder" >
    update cb_kuaidan_service_order
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="serviceOrderNumber != null" >
        service_order_number = #{serviceOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuaidan.entity.ServiceOrder" >
    update cb_kuaidan_service_order
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      member_id = #{memberId,jdbcType=VARCHAR},
      service_order_number = #{serviceOrderNumber,jdbcType=VARCHAR},
      address_id = #{addressId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>